nav {
    min-height: 15vh;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.nav--logo {
    display: flex;
    max-width: 60%;
    flex: 1 1 40rem;
}

.nav--logo img {
    height: 55px;
    max-width: 60%;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;

}



nav ul li {
    font-size: 2rem;
    list-style: none;
}

.dropper {
    font-weight: 100;
}

a{
    color: white;
    text-decoration: none;
}